@font-face {
    font-family: 'Open_Sans';
    src: url('/fonts/OpenSans-Regular.ttf');
}

html {
    font-family: 'Open_Sans';
    overflow-x: clip;
}

.logo svg {
    max-width: 7rem;
    height: auto;
}

#header-wrapper.text-white .logo svg,
#header-wrapper.text-white .logo svg path {
    fill: white;
}
