{{- $sectionabout := .Site.Params.sectionabout }}
{{- $title    := index $sectionabout "title" }}
{{- $subtitle := index $sectionabout "subtitle" }}
{{- $features := index $sectionabout "features" }}
<section class="section is-medium" id="section-about">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>
    <div class="columns">
      {{- range $features }}
      <div class="column is-one-third">
        <div class="feature-card has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
          <div class="card-icon">
            <img src="{{ printf "/images/%s" .image | relURL }}">
          </div>
          <div class="card-title">
            <h4>{{ .title }}</h4>
          </div>
          <div class="card-text">
            <p>{{ .text | markdownify }}</p>
            <div class="level-left">
              <a class="level-item" href="{{ .link }}">
                <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      {{- end }}
    </div>
  </div>
</section>