<section class="section section-light-grey is-medium" style="padding-top: 10rem;" id="contact">
    <div class="container">
      <div class="title-wrapper has-text-centered flex flex-col gap-4">
        <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">Book in for a chat</h1>
        <h2 class="subtitle is-5 is-muted">We'd love to learn more about how we can help</h2>
        <div class="divider is-centered"></div>
      </div>
  
      <div class="content-wrapper">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/noble-dynamic/30min?hide_event_type_details=1" style="min-width:320px;height:800px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
          </div>
        </div>
      </div>
    </div>
  </section>