<section class="section section-light-grey is-medium" style="padding-top: 10rem;" id="contact">
    <div class="container">
      <div class="title-wrapper has-text-centered flex flex-col gap-4">
        <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">Book in for a chat</h1>
        <h2 class="subtitle is-5 is-muted">We'd love to learn more about how we can help</h2>
        <div class="divider is-centered"></div>
      </div>
  
      <div class="content-wrapper">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <script>
              hbspt.forms.create({
                region: "eu1",
                portalId: "26152834",
                formId: "90250d4a-b647-44d5-8bd5-1dc4c753c74a"
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </section>