<header class="text-center">
  <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
    Data is everywhere
  </h1>
  <h2 class="mt-0 mb-0 text-xl text-neutral-800 dark:text-neutral-300 px-6 py-4">We make understanding it <span style="font-style: italic;">easy</span></h2>
</header>
<section style="padding-top: 10rem;" id="services">
  <div class="w-full grid sm:grid-cols-2 md:grid-cols-3 text-center px-4" style="gap: 3rem;">
    <div class="flex flex-col" style="gap: 3rem;">
      <div class="font-bold text-xl text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral">
        <h4>Data Science</h4>
      </div>
      <div class="w-full thumbnail_card_related nozoom" style="background-image: url('/images/icons/data-science.svg'); background-size: contain;"></div>
      <div class="text-sm text-neutral-500 dark:text-neutral-400">
        <p>
          Advanced analytics and machine learning isn't just for the big
          players. Gain a competitive advantage by leveraging data science
          techniques to automatically find patterns, anomalies and segment your
          data.
        </p>
      </div>
    </div>

    <div class="flex flex-col" style="gap: 3rem;">
      <div class="font-bold text-xl text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral"><h4>Data Engineering</h4></div>
      <div class="card-icon">
        <div class="w-full thumbnail_card_related nozoom" style="background-image: url('/images/icons/data-engineering.svg'); background-size: contain;"></div>
      </div>
      <div class="text-sm text-neutral-500 dark:text-neutral-400">
        <p>
          The right data isn't always available, up to date, clean, or usable.
          Streamline and enrich your data with web scraping, API integrations,
          synthetic data generation and feature engineering.
        </p>
      </div>
    </div>

    <div class="flex flex-col" style="gap: 3rem;">
      <div class="font-bold text-xl text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral"><h4>Computer Vision</h4></div>
      <div class="card-icon">
        <div class="w-full thumbnail_card_related nozoom" style="background-image: url('/images/icons/computer-vision.svg'); background-size: contain;"></div>
      </div>
      <div class="text-sm text-neutral-500 dark:text-neutral-400">
        <p>
          Drones, satellites, and mobile devices are affordable, scalable
          solutions combined with machine learning and computer vision for image
          segmentation, object detection and classification.
        </p>
      </div>
    </div>

    <div class="flex flex-col" style="gap: 3rem;">
      <div class="font-bold text-xl text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral"><h4>Dashboards and Visualisation</h4></div>
      <div class="card-icon">
        <div class="w-full thumbnail_card_related nozoom" style="background-image: url('/images/icons/visualisation.svg'); background-size: contain;"></div>
      </div>
      <div class="text-sm text-neutral-500 dark:text-neutral-400">
        <p>
          Get actionable insight from your data investment with clear and simple
          visualisations and dashboards. Specialists in the Microsoft stack and
          bespoke, cloud enabled, dashboards.
        </p>
      </div>
    </div>

    <div class="flex flex-col" style="gap: 3rem;">
      <div class="font-bold text-xl text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral"><h4>Data Strategy</h4></div>
      <div class="card-icon">
        <div class="w-full thumbnail_card_related nozoom" style="background-image: url('/images/icons/strategy.svg'); background-size: contain;"></div>
      </div>
      <div class="text-sm text-neutral-500 dark:text-neutral-400">
        <p>
          A clear data strategy is critical for successful digital
          transformation. Benefit from years of hands-on experience with
          developing data and product strategy, and delivery at scale.
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-4" style="gap: 3rem;">
      <div class="font-bold text-xl text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral"><h4>Cloud</h4></div>
      <div class="w-full thumbnail_card_related nozoom" style="background-image: url('/images/icons/cloud.svg'); background-size: contain;"></div>
      <div class="text-sm text-neutral-500 dark:text-neutral-400">
        <p>
          Harness the scalability, security, and cost savings of the cloud.
          Experts in deploying AI services, serverless infrastructure, ML
          pipelines and databases in AWS, Azure and GCP.
        </p>
      </div>
    </div>
  </div>
</section>
